# Personal todo files
adrien-todo.md

# Ignoreing the pycache
scripts/__pycache__

# Environment variables with API keys
.env
.streamlit/secrets.toml

# Generated images
out/**/*.jpg

# Reference images
ref/**/*.jpg

# Bakup files
bak/

# uv/Python virtual environment
.venv/
uv.lock
